[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
fabric = "==1.14.0"
ripe = "*"

[packages]
Beaker = "==1.10.0"
bdateutil = "*"
clime = "*"
cufflinks= "==0.12.1"
flask = "*"
ipython= "==5.6.0"
Flask-Caching = "*"
"flask-wtf" = "*"
"flask-bootstrap" = "*"
dash = "*"
"dash-renderer" = "*"
"dash-html-components" = "*"
"dash-core-components" = "*"
gunicorn = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
plotly = "==2.5.1"
pyparsing = "==2.2.0"
python-dateutil = "*"
requests = "*"
"scikit-learn" = "*"
scipy = "*"
sklearn = "*"
sqlalchemy = "*"
"subprocess32" = "*"
wtforms = "*"
redis = "==2.10.6"
Flask-Login ="==0.4.1"